/* Footer styles
-------------------------------------------------- */

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: myConsolasFont;
    /*background:*/
            /*linear-gradient(*/
                    /*rgba(23, 44, 68, 0.45),*/
                    /*rgba(47, 55, 151, 0.45)*/
            /*);*/
}
.footertext {
    color: #000000;
}