

.table-responsive {
    overflow-x: visible;
}

.page-content {
    /* Firefox */
    min-height: -moz-calc(100vh - 40px);
    /* WebKit */
    min-height: -webkit-calc(100vh - 40px);
    /* Opera */
    min-height: -o-calc(100vh - 40px);
    /* Standard */
    min-height: calc(100vh - 40px);
}

.footer {
    position: absolute;
    width: 100%;
}

.form-control {
    margin-bottom: 18px;
}

.checkbox, .radio {
    margin-top: 0px;
}

@media(max-width: 768px) {
    .footer {
        text-align: center;
    }
    .text-right {
        text-align: center;
    }
}

