.navbar-default {
  background-color: #37414b;
  border-color: #49c1ad;
    font-family: myMAIANFont;
}
.navbar-default .navbar-brand {
  color: #cfd4d6;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #cfd4d6;
}
.navbar-default .navbar-nav > li > a {
  color: #cfd4d6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #c14345;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #c14345;
}
.navbar-default .navbar-toggle {
  border-color: #2dc1b3;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c14345;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cfd4d6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cfd4d6;
}
.navbar-default .navbar-link {
  color: #cfd4d6;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #cfd4d6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #2dc1b3;
  }
}
